@import url("CSS/colors.css");
@import url("CSS/typography.css");
@import url("CSS/layout.css");
@import url("CSS/navbar.css");

body {
    background-color: rgb(255, 242, 124);
    margin: 0px;
}

header, main, footer {
    margin: auto;
}

h1, h2, h3, p {
    font-family: 'Lato', sans-serif;
}

.socialmedia-icon,.sm-img {
    width: 100%;
}

.footer-grid p {
    color: rgb(255, 242, 124);
}

.fg-b img {
    width: 50%;
}

/* Small Mobile Screens */
    /* Home Page */
    .home-item-a img {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .home-item-b {
        width: 80%;
        margin: 30px auto;
        box-sizing: border-box;
        border: solid 8px rgb(27, 27, 27);
        color: whitesmoke;
        text-align: center;
        padding: 30px;
    }

    .home-item-b p {
        font-size: 25px;
        font-weight: bold;
        margin: 0px;
    }

    /* About Page */
    .about-grid.about-item {
        width: 100%;
        margin: 0px auto;
    }

    .about-grid img {
        width: 100%;
    }

    .about-item-a {
        padding-bottom: 30px;
    }

    .about-item-b {
        padding-bottom: 50px;
    }

    .about-grid h1, p {
        text-align: center;
    }

    .about-grid p {
        font-size: 20px;
    }

    .about-grid h1 {
        font-weight: 900;
    }

    .about-item-f {
        padding-top: 50px;
        font-style: italic;
    }

    /* Menu Page */

    /* Location Page */
    .location-grid {
        margin: 50px auto;
    }

    .location-grid.grid-item {
        width: 100%;
        margin: 0px auto;
    }

    .location-grid img {
        width: 100%;
    }

    .location-item-a {
        padding-bottom: 30px;
    }

    .location-grid h3,h2,p {
        text-align: center;
        padding: 0px 30px;
    }

    .location-item-c {
        margin: 30px auto;
        width: 80%;
        box-sizing: border-box;
        padding: 20px;
        border: 2px solid rgb(250, 168, 75);
        border-radius: 7px;
    }

    .location-item-b h2 {
        margin-bottom: 0px;
    }

    .location-item-c h2 {
        font-size: 18px;
        color: rgb(27, 27, 27);

    }

    .f-name,.l-name,.e-input,.s-input,.m-input {
        font-family: 'Lato', sans-serif;
        display: block;
        width: 75%;
        height: 30px;
        padding: 5px 10px;
        margin-bottom: 15px;
    }

    .m-input {
        height: 250px;
        padding: 10px;
    }
    
    .button>form>input {
        padding: 8px 15px;
        border-radius: 20px;
        font-family: 'Lato', sans-serif;
        background-color: rgb(27, 27, 27);
        color: whitesmoke;
        justify-self: end;
    }


    /* News Page */
    .news-grid {
        margin: 50px auto;
        padding: 0px 40px;
    }

    .news-grid.grid-item {
        width: 70%;
        box-sizing: border-box;
        padding: 30px 0px;
    }

    .news-grid .grid-item img {
        width: 100%;
        padding: 30px 0px 10px;
    }

    .news-grid .grid-item h2,p {
        text-align: center;
    }

    .news-grid .grid-item h2 {
        font-size: 22px;
        font-weight: 900;
    }

    .news-grid.grid-item p {
        font-size: 14px;
    }

    .news-grid .news-item-q .news-butten {
        width: 305px;
        margin: 25px auto 50px;
        text-align: center;
    }
    
    .news-button {
        width: 140px;
        margin: 25px auto 50px;
        text-align: center;
    }


    .news-button a {
        background-color: rgb(27, 27, 27);
        border-radius: 4px;
        color: whitesmoke;
        text-decoration: none;
        padding: 15px;
        font-family: 'Lato', sans-serif;
        margin-bottom: 15px;
    }

/* Tablet Screens */
@media(min-width: 500px) {

    /* Home Page */
    .home-item-b p {
        font-size: 32px;
    }

    .sm-img {
        width: 80%;
    }

    /* About Page */

    /* Menu Page */

    /* Location Page */

    /* News Page */
    .news-item-a {
        width: 40%;
        margin: auto;
    }

    .news-grid .grid-item h2 {
        font-size: 26px;
    }

    .news-grid .grid-item p {
        font-size: 20px;
    }

    .news-grid .news-button img {
        margin-bottom: 50px;
    }
}

/* Laptop Screens */
@media(min-width: 768px) {
    /* Home Page */
    .home-item-b {
        border: solid 11px rgb(27, 27, 27);
    }

    .home-item-b p {
        font-size: 38px;
    }

    .home-grid-2 img {
        max-width: 80px;
        height: auto;
    }

    .home-grid-2 {
        max-width: 450px;
    }

    /* About Page */

    /* Menu Page */

    /* Location Page */

    /* News Page */
    .news-grid .grid-item h2 {
        font-size: 22px;
    }

    .news-grid .grid-item p {
        font-size: 14px;
    }

    .news-grid .news-button a {
        font-size: 12px;
        padding: 10px;
    }

}

/* Large Laptop Screens */
@media(min-width: 960px) {
    main {
        max-width: 1000px;
    }

    header, footer {
        max-width: 1350px;
    }

    /* About Page */

    /* Menu Page */

    /* Location Page */

    /* News Page */

}